@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  /* Brand */
  --color-primary: oklch(65% 0.23 35);
  --color-secondary: oklch(58% 0.18 30);
  --color-accent: oklch(72% 0.2 55);

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}

/* Body background */
/* =========================== */
/* BODY BASE + GRADIENT CLEAN */
/* =========================== */
/* =========================== */
/* BODY BASE + GRADIENT CLEAN */
/* =========================== */

/* =========================== */
/* Gradient overlay / subtle vignette */

.swiper-pagination {
  bottom: -5 !important;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 50px;
}
.card-3d {
  @apply relative rounded-2xl
  bg-white/5 backdrop-blur-xl
  border border-white/10
  shadow-[0_25px_60px_rgba(0,0,0,0.7)]
  transition-all duration-500;
}

.card-3d::before {
  content: '';
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    rgba(9, 0, 14, 0.486),
    rgba(6, 11, 14, 0.6),
    rgba(10, 10, 10, 0.6)
  );
  filter: blur(12px);
  opacity: 0.6;
  z-index: -1;
}
.card-3d:hover {
  transform: translateY(5px) scale(1.02);
  box-shadow: 0 10px 80px rgba(70, 0, 38, 0.1), 0 0 35px rgba(100, 1, 56, 0.411);
}

body {
  @apply bg-gradient-to-br
  from-[#151a25]
  via-[#1b2233]
  to-[#0f1320];
}

/* Loading */
.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  aspect-ratio: 1 / 1;
  font-family: "Figtree", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  border-radius: 50%;
  background-color: #0004;
  user-select: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
  z-index: 1;

  background-color: #c4d0cc22;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  box-shadow:
    0 0 10px 0 #fff inset,
    0 0 4px 4px #f8924e inset,
    0 0 8px 8px #1ca18477 inset,
    0 0 20px 2px #0006,
    0 0 20px 4px #ff0095ee,
    0 12px 80px 8px #ff295f;
  animation: rotate-anim 4s linear infinite;
  -webkit-animation: rotate-anim 4s linear infinite;
}
@keyframes rotate-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-anim {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loader-bg-1,
.loader-bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.5;
  background-color: #fac193;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 0;
  animation: bg-transform 4s linear infinite;
  -webkit-animation: bg-transform 4s linear infinite;
}
.loader-bg-2 {
  background-color: #10c488;
  animation: bg-transform 6s linear infinite reverse;
  -webkit-animation: bg-transform 6s linear infinite reverse;
}

@keyframes bg-transform {
  0%,
  100% {
    transform: translate(-80%, 0%);
    clip-path: circle(50% at 130% 50%);
  }
  25% {
    transform: translate(0%, -80%);
    clip-path: circle(50% at 50% 130%);
  }
  50% {
    transform: translate(80%, 0%);
    clip-path: circle(50% at -30% 50%);
  }
  75% {
    transform: translate(0%, 80%);
    clip-path: circle(50% at 50% -30%);
  }
}
@-webkit-keyframes bg-transform {
  0%,
  100% {
    -webkit-transform: translate(-80%, 0%);
    clip-path: circle(50% at 130% 50%);
  }
  25% {
    -webkit-transform: translate(0%, -80%);
    clip-path: circle(50% at 50% 130%);
  }
  50% {
    -webkit-transform: translate(80%, 0%);
    clip-path: circle(50% at -30% 50%);
  }
  75% {
    -webkit-transform: translate(0%, 80%);
    clip-path: circle(50% at 50% -30%);
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0.7;
  transform: translateY(0);
  animation: loader-letter-anim 1.5s infinite ease;
  -webkit-animation: loader-letter-anim 1.5s infinite ease;
  z-index: 2;

  color: #0005;
  text-shadow: 0 -1px 0 #fffd;
  filter: drop-shadow(0 6px 3px #000a);
}

.loader-letter:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
.loader-letter:nth-child(10) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

@keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
  40% {
    opacity: 0.5;
    transform: translateY(-0px) rotate(-5deg);
  }
  60% {
    opacity: 0.9;
    transform: translateY(0px) scale(1.05) rotate(10deg);
  }
}
@-webkit-keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
  }
  40% {
    opacity: 0.5;
    -webkit-transform: translateY(-0px) rotate(-5deg);
  }
  60% {
    opacity: 0.9;
    -webkit-transform: translateY(0px) scale(1.05) rotate(10deg);
  }
}

